
<html>

    <head>
        <title>Application 1</title>
        <link rel="shortcut icon" href="../media/favicon.ico" type="image/x-icon" />
    
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
        <link href="/css" rel="stylesheet" title="Default Style">
    </head>
    
    <body>      
        <div class="panneau-pourpre">
            <div class="nom-du-site">
                <br><br><br><br>
                <p>Il s'agit d'une application Web simple qui n'affiche que le html et le css.</p>
            </div>
    
            <div class="panneau-blanc">
                <div class="connecter">
                    <h2>Application web</h2>
                    <br><br><br><br>
                    <p>Test technique pour</p>
                    <img src="https://devfest2019.gdgnantes.com/images/partners/stack_labs.png" id="sl">
                </div>
            </div>
        </div>
    </body>
</html>